body {
  background: #ebebeb;
  font-family: "Open Sans", sans-serif;
}
header,
nav,
section {
  display: block;
  background: white;
  margin: auto;
  width: 50%;
}
#TimFace {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: solid 3px;
  border-color: #cccccc;
}
.FigureHeader,
#IconsList,
#MovieTitle {
  padding-top: 30px;
}
#SocialList {
  padding-bottom: 30px;
}
.FigureMovieSection {
  padding-bottom: 80px;
  padding-top: 30px;
}
h1 {
  text-align: center;
  color: #dd5555;
  font-weight: 1000;
}
h2,
h3,
p,
figcaption {
  text-align: center;
  color: grey;
  font-size: 20px;
}
#Button {
  width: 150px;
  height: 30px;
  border: none;
  color: white;
  background-color: rgb(255, 0, 68);
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
}
strong {
  color: #676769;
}
.movies {
  float: left;
  width: 20%;
}
p {
  padding: 50px;
}
ul {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}
li {
  display: inline-table;
}
ul li {
  flex: 1 auto;
}
.SocialLinks,
i {
  color: #757575;
  opacity: 0.5;
  text-decoration: none;
}
i {
  text-align: center;
  font-size: 25px;
}
